    ::-webkit-scrollbar {
         width: 8px;
    }

    ::-webkit-scrollbar-button {
        /* display: none; */
    }
    ::-webkit-scrollbar-corner {
        /* display: none; */
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(51,51,51,.3);
        border-radius: 8px;
    }
    ::-webkit-scrollbar-track {
        background-color: #e5e5e5;
        border-radius: 8px;
    }

    ::-webkit-scrollbar:horizontal{
        height: 8px; 
        }         

    
    p.options label {
      margin-right: 10px;
    }
    p.options input[type=checkbox] {
      vertical-align: middle;
    }
    textarea#json-input {
      width: 100%;
      height: 200px;
    }
    
    pre{
    background-color:  rgb(17, 23, 26);
        border: 1px solid #aaa;
        color: white;
    }
    .json-string{
        color: rgb(160, 251, 170);
    }
    .json-boolean{
        color: red;
    }
    .json-document { 
    height: 500px;
}
        .arrow::before {
            content: "\25BA";
            float: left;
            transform: rotate(90deg);
            transition: transform 0.3s;
        }

        .collapsed .arrow::before {
            transform: rotate(0deg);
        }
        .mainusecasediv{
            margin-top: 10px;
    margin-bottom: 20px;
        }
